.display {
    grid-column: span 4;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.2em;
    overflow: hidden;
}
.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3; 
}

.button.operation{
    background-color: #fa8231;
    color: #fff;
}

.button.button.operation:active{
    background-color: #fa8231cc;
} 